.NavigationItem{
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
    
}

.NavigationItem a{
    color: black;
    text-decoration: none;
    width: 100%;
     box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a:active{
   
    color: rgb(1, 12, 22);
}

@media(min-width:500px){
    .NavigationItem{
        margin: 0;
        display:flex;
        height: 100%;
        width: auto;
        align-items: center;
        }
    
    .NavigationItem a{
        color: black;
         height: 100%;
        padding: 16px 10px;
        border-bottom: 4px solid transparent;
         }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a:active{
        background-color: #8f5c2c;
        border-bottom: 4px solid orangered;
        color: rgb(1, 12, 22);
    }
}